<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- 今回のサンプルで使用しているCSS（bootstrap）の読み込み -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
	integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
	crossorigin="anonymous">
<title>機器一覧</title>
</head>
<body>
	<div class="login align-items-center py-5">
		<div class="d-flex flex-row">
			<div th:insert="~{common :: side_bar}" class="col-2"></div>
			<div class="row col-10">
				<div class="col-md-12 col-lg-12">
					<h3 class="login-heading my-4">機器一覧</h3>
					<!-- Thymeleafの繰り返し処理 -->
					<!-- modelにequipsというキーでセットされてきたリストを繰り返しで表示 -->
					<!-- リスト（配列）のequipsから1ずつ要素を取得してequip（変数）に格納 -->
					<div class="d-flex flex-row justify-content-between">
						<form action="regist" method="get">
							<button
								class="btn btn-lg btn-primary btn-block btn-login font-weight-bold mb-2"
								type="submit">新規機器登録</button>
						</form>

						<ul>
							<li>貸出PC：<span th:text=${lentedPcNum}></span>台</li>
							<li>空きPC：<span th:text=${notLentedPcNum}></span>台</li>
						</ul>
					</div>

					<table class="table table-striped">
						<!-- equip（equipListクラス）のgetNameメソッドを実行して名前を画面に表示 -->
						<tr>
							<th>資産番号</th>
							<th>メーカー</th>
							<th>OS</th>
							<th>メモリ</th>
							<th>容量</th>
							<th>グラフィックボード</th>
							<th>保管場所</th>
							<th>故障</th>
							<th>リース開始日</th>
							<th>リース期限日</th>
							<th>備考</th>
							<th>登録日</th>
							<th>更新日</th>
						</tr>
						<tr th:each="equip : ${equipList}" th:classappend="${equip.isBroken ? 'bg-danger' : ''}">
							<td><a th:href="@{/equip/{id}(id=${equip.id})}"
								th:text="${equip.asset}"></a></td>
							<td th:text="${equip.maker}"></td>
							<td th:text="${equip.os}"></td>
							<td th:text="${equip.memory}"></td>
							<td th:text="${equip.capacity}"></td>
							<td th:text="${equip.hasGraphicBoard ? '○' : ''}"></td>
							<td th:text="${equip.isLent ? '貸出中' : equip.storageLocation}"></td>
							<td th:text="${equip.isBroken ? '○' : ''}"></td>
							<td
								th:text="${#dates.format(equip.leaseStart, 'yyyy/MM/dd')}"></td>
							<td th:text="${#dates.format(equip.leaseEnd, 'yyyy/MM/dd')}"></td>
							<td th:text="${equip.remarks}"></td>
							<td th:text="${#dates.format(equip.registrationDate, 'yyyy/MM/dd')}"></td>
							<td th:text="${#dates.format(equip.updateDate, 'yyyy/MM/dd')}"></td>
						</tr>
					</table>
					<br>
				</div>
			</div>
		</div>
	</div>
</body>
</html>