<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- 今回のサンプルで使用しているCSS（bootstrap）の読み込み -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
	integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
	crossorigin="anonymous">
<title>ユーザー詳細</title>
</head>
<body>
	<div class="login align-items-center py-5">
		<div class="d-flex flex-row">
			<div th:insert="~{common :: side_bar}" class="col-2"></div>
			<div class="row col-10">
				<div class="col-md-9 col-lg-8 mx-auto">
					<h3 class="login-heading my-4">ユーザー詳細</h3>
					<form th:action="@{{id}/update(id=${user.id})}" name="user" method="post"
						th:object="${user}">
						<div class="form-label-group">
							<label for="employeeNumber">社員番号</label> <input type="text"
								id="employeeNumber" name="employeeNumber" class="form-control"
								th:value="*{employeeNumber}">
						</div>
						<div class="form-label-group">
							<label for="name">氏名</label> <input type="text" id="name"
								name="name" class="form-control" th:value="*{name}">
						</div>
						<div class="form-label-group">
							<label for="nameKana">氏名 (カタカナ)</label> <input type="text"
								id="nameKana" name="nameKana" class="form-control"
								th:value="*{nameKana}">
						</div>
						<div class="form-label-group">
							<label for="department">所属部署</label> <input type="text"
								id="department" name="department" class="form-control"
								th:value="*{department}">
						</div>
						<div class="form-label-group">
							<label for="telNumber">電話番号</label> <input type="tel"
								id="telNumber" name="telNumber" class="form-control"
								th:value="*{telNumber}">
						</div>
						<div class="form-label-group">
							<label for="mail">メールアドレス</label> <input type="email"
								id="mail" name="mail" class="form-control"
								th:value="*{mail}">
						</div>
						<div class="form-label-group">
							<label for="age">年齢</label> <input type="number"
								id="age" name="age" class="form-control"
								th:value="*{age}">
						</div>
						<div class="form-label-group">
							<label for="gender">性別</label> <input type="text"
								id="gender" name="gender" class="form-control"
								th:value="*{gender}">
						</div>
						<div class="form-label-group">
							<label for="position">役職</label> <input type="text"
								id="position" name="position" class="form-control"
								th:value="*{position}">
						</div>
						<div class="form-label-group">
							<label for="privilege">PCアカウント権限</label> <input type="text"
								id="privilege" name="privilege" class="form-control"
								th:value="*{privilege}">
						</div>

						<div class="form-label-group">
							<label for="retirementDate">退職日</label> <input type="date"
								id="retirementDate" name="retirementDate" class="form-control"
								th:value="${#dates.format(user.retirementDate,'yyyy-MM-dd')}">
						</div>
						<br>
						<button
							class="btn btn-lg btn-primary btn-block btn-login font-weight-bold mb-2 lg-4"
							type="submit">保存</button>
					</form>
					<a th:href="@{{id}/delete(id=${user.id})}">削除</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>