<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- 今回のサンプルで使用しているCSS（bootstrap）の読み込み -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
	integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
	crossorigin="anonymous">
<title>貸出管理画面</title>
</head>
<body>
	<div class="login align-items-center py-5">
		<div class="d-flex flex-row">
			<div th:insert="~{common :: side_bar}" class="col-2"></div>
			<div class="row col-10">
				<div class="col-md-12 col-lg-12">
					<h3 class="login-heading my-4">貸出管理画面</h3>
					<div class="d-flex flex-row justify-content-end">
						<ul>
							<li>貸出PC：<span th:text=${lentedPcNum}></span>台
							</li>
							<li>空きPC：<span th:text=${notLentedPcNum}></span>台
							</li>
						</ul>
					</div>

					<p class="text-danger">貸出期限の過ぎたPC一覧</p>
					<table class="table table-striped table-bordered">
						<!-- lend（lendListクラス）のgetNameメソッドを実行して名前を画面に表示 -->
						<tr>
							<th>NO</th>
							<th>資産番号</th>
							<th>メーカー</th>
							<th>OS</th>
							<th>保管場所</th>
							<th>空き</th>
							<th>使用者：社員番号</th>
							<th>社員氏名</th>
							<th>貸出日</th>
							<th>返却日</th>
							<th>棚卸日</th>
							<th>備考</th>
						</tr>
						<tr th:each="lm : ${expiredList}">
							<th:block th:if="${lm.lend}">
								<td><a th:href="@{/lend/{id}(id=${lm.lend.id})}"
									th:text="${lm.count}"></a></td>
							</th:block>
							<th:block th:unless="${lm.lend}">
								<td th:text="${lm.count}"></td>
							</th:block>
							<td th:text="${lm.equip.asset}"></td>
							<td th:text="${lm.equip.maker}"></td>
							<td th:text="${lm.equip.os}"></td>
							<td
								th:text="${lm.user != null ? (lm.user.name + 'さんに貸出中') : lm.equip.storageLocation}"></td>
							<td th:text="${lm.equip.isLent ? '貸出中' : '○'}"></td>
							<td th:text="${lm.user != null ? lm.user.employeeNumber : ''}"></td>
							<td th:text="${lm.user != null ? lm.user.name : ''}"></td>
							<td
								th:text="${lm.lend != null ? #dates.format(lm.lend.lendStart,'yyyy-MM-dd') : ''}"></td>
							<td
								th:text="${lm.lend != null ? #dates.format(lm.lend.lendEnd,'yyyy-MM-dd') : ''}"></td>
							<td th:text="${lm.equip.inventoryDate}"></td>
							<td th:text="${lm.lend != null ? lm.lend.remarks : ''}"></td>
						</tr>
					</table>

					<br>
					<p>管理台帳</p>
					<table class="table table-striped table-bordered">
						<!-- lend（lendListクラス）のgetNameメソッドを実行して名前を画面に表示 -->
						<tr>
							<th>NO</th>
							<th>資産番号</th>
							<th>メーカー</th>
							<th>OS</th>
							<th>保管場所</th>
							<th>空き</th>
							<th>使用者：社員番号</th>
							<th>社員氏名</th>
							<th>貸出日</th>
							<th>返却日</th>
							<th>棚卸日</th>
							<th>備考</th>
						</tr>
						<tr th:each="lm : ${lendingManagementList}">
							<th:block th:if="${lm.lend}">
								<td><a th:href="@{/lend/{id}(id=${lm.lend.id})}"
									th:text="${lm.count}"></a></td>
							</th:block>
							<th:block th:unless="${lm.lend}">
								<td th:text="${lm.count}"></td>
							</th:block>
							<td th:text="${lm.equip.asset}"></td>
							<td th:text="${lm.equip.maker}"></td>
							<td th:text="${lm.equip.os}"></td>
							<td
								th:text="${lm.user != null ? (lm.user.name + 'さんに貸出中') : lm.equip.storageLocation}"></td>
							<td th:text="${lm.equip.isLent ? '貸出中' : '○'}"></td>
							<td th:text="${lm.user != null ? lm.user.employeeNumber : ''}"></td>
							<td th:text="${lm.user != null ? lm.user.name : ''}"></td>
							<td
								th:text="${lm.lend != null ? #dates.format(lm.lend.lendStart,'yyyy-MM-dd') : ''}"></td>
							<td
								th:text="${lm.lend != null ? #dates.format(lm.lend.lendEnd,'yyyy-MM-dd') : ''}"></td>
							<td th:text="${lm.equip.inventoryDate}"></td>
							<td th:text="${lm.lend != null ? lm.lend.remarks : ''}"></td>
						</tr>
					</table>
					<br>
				</div>
			</div>
		</div>
	</div>
</body>
</html>