<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- 今回のサンプルで使用しているCSS（bootstrap）の読み込み -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
	integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
	crossorigin="anonymous">
<title>貸出管理画面</title>
</head>
<body>
	<div class="login align-items-center py-5">
		<div class="d-flex flex-row">
			<div th:insert="~{common :: side_bar}" class="col-2"></div>
			<div class="row col-10">
				<div class="col-md-12 col-lg-12">
					<h3 class="login-heading my-4">貸出管理画面</h3>
					<!-- Thymeleafの繰り返し処理 -->
					<!-- modelにlendsというキーでセットされてきたリストを繰り返しで表示 -->
					<!-- リスト（配列）のlendsから1ずつ要素を取得してlend（変数）に格納 -->
					<div class="d-flex flex-row justify-content-end">
						<ul>
							<li>貸出PC：<span th:text=${lentedPcNum}></span>台
							</li>
							<li>空きPC：<span th:text=${notLentedPcNum}></span>台
							</li>
						</ul>
					</div>

					<table class="table table-striped">
						<!-- lend（lendListクラス）のgetNameメソッドを実行して名前を画面に表示 -->
						<tr>
							<th>貸出ID</th>
							<th>機器ID</th>
							<th>ユーザーID</th>
							<th>登録日</th>
							<th>更新日</th>
							<th>備考</th>
						</tr>
						<tr th:each="lend : ${lendList}">
							<td th:text="${lend.id}"></td>
							<td th:text="${lend.equipId}"></td>
							<td th:text="${lend.userId}"></td>
							<td
								th:text="${#dates.format(lend.registrationDate, 'yyyy/MM/dd')}"></td>
							<td th:text="${#dates.format(lend.updateDate, 'yyyy/MM/dd')}"></td>
							<td th:text="${lend.remarks}"></td>
						</tr>
					</table>
					<br>
				</div>
			</div>
		</div>
	</div>
</body>
</html>